@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.search {
    padding: 40px;
}

input {
    border-color: black !important;
}

.search-btn {
    background-color: #858585 !important;
    color: white;
}

.search-btn:hover {
    background-color: #333333 !important;
}

#home-message {
    text-align: center;
    font-family: 'Courgette', 'cursive';
    margin-bottom: 100px;
}

.book-container {
    border: solid 1px;
    border-color: rgb(207, 201, 201) !important;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
}

.save-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 100px;
    background-color: #4C8844;
    color: white;
}

.save-btn:hover {
    background-color: #3C6D37;
    color: white;
}

@media (max-width: 770px) {
    .book-container {
        padding-top: 50px;
    }

    .save-btn {
        top: -35px;
    }
}
